html, body, main, header, #intro {
    height: 100%;
    margin: 0;
}

nav, main > section {
    overflow: auto;
}

header, main > section {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #7D6CC3;
    font-size: 16px;
}

ul a:hover {
    color: #FCD460;
}

header {
    background: url("img/purple-background.png")no-repeat center center fixed;
    background-size: cover;
}

nav {
    background-color: white;
}

/* Home Page Styling */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    display: flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #7D6CC3;
}

.navbar-brand {
    padding-left: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #7D6CC3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav li {
    padding-left: 50px;
}

.mask {
    width: 75%;
}

#title {
    margin: 0;
    font-size: 4.5em;
}

#description {
    font-size: 2.4em;
}

#button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    background-color: #FCD460; /* Yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

/* About Page Styling */

#about {
    background: url("img/Screen Shot 2020-10-19 at 11.55.30 AM.png")no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #808080;
}
.mask > h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.mask > p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

#card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border: #ccc1f7 solid;
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 2px 2px 8px grey;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Feature Page Styling */

#features {
    background-color: #f8f8f877;
    position: relative; 
    height: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#features > img { 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    height: 700px; 
}

#feature-text {
    position: absolute; 
    right: 0; 
    width: 700px; 
    padding-right: 100px;
}

#feature-text h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#feature-text p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contact Page Styling */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#contact h1 {
    margin-top: 250px;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
}

#second-col > img { 
    position: absolute; 
    right: 0; 
    height: 400px; 
}

#contact-inputs {
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 0; 
    width: 400px; 
    padding-left: 100px;
    padding-top: 60px;
}

#contact-inputs ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#name {
    margin-bottom: 40px;
}

#email {
    margin-bottom: 40px;
}

#message {
    margin-bottom: 40px;
}

#send-button {
    background-color: #6C63FF;
}

/* Footer */
footer {
    background-color: rgb(125, 108, 195, 0.29);
    min-height: 30vh;
}

footer h1 {
}